*.png
*.jpg
*.webp
*.json
*.txt
*.xml
*.md
*.deleted
*.jpeg
*.crashed
/.pki/
/.wp-cli/
/.idea
/mwp_db/
/wp-admin/
/wp-includes/
/wp-content/languages/
/wp-content/uploads/
/wp-content/uploads-webpc/
/wp-content/.htaccess
/wp-content/db-error.php
/wp-content/index.php
/wp-content/object-cache.php
/.htaccess
/google8702f872e08eeafd.html
/index.php
/license.txt
/readme.html
/robots.txt
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-content/themes/blockbase/
/wp-content/themes/geologist/
/wp-content/themes/geologist_child/
/wp-content/themes/twentytwenty/
/wp-content/themes/twentytwentyone/
/wp-content/themes/twentytwentythree/
/wp-content/themes/twentytwentytwo/
/wp-content/themes/index.php
/wp-content/plugins/
